<html ng-app>
	<head>
		<title>load time</title>
		<script type="text/javascript">window.iframeLoaded=function(){};</script> <!-- predefine this to prevent errors on page loading -->
		<link rel="stylesheet" type="text/css" href="bootstrap.min.css"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

	<body ng-cloak ng-controller="AppCtrl" id="mainCtrl">
		<form class="form-horizontal" role="form" ng-submit="startTesting()">
			<div class="form-group">
				<label for="environment" class="col-sm-2 control-label">Environment</label>
				<div class="col-sm-5 col-5">
					<select ng-model="environment" class="form-control" ng-options="env.name for env in environments" required></select>
				</div>
			</div>
			<div class="form-group">
				<label for="campaignId" class="col-sm-2 control-label">Campaign</label>
				<div class="col-sm-5 col-5">
					<input type="text" class="form-control" name="campaignId" ng-model="campaignId" placeholder="2025" required/>
				</div>
			</div>
			<div class="form-group">
				<label for="ordinalId" class="col-sm-2 control-label">Ordinal</label>
				<div class="col-sm-5 col-5">
					<input type="text" class="form-control" name="ordinalId" ng-model="ordinalId"/>
				</div>
			</div>
			<div class="form-group">
				<label for="testCount" class="col-sm-2 control-label">Test Count</label>
				<div class="col-sm-5 col-5">
					<input type="number" min="0" max="20" class="form-control" name="testCount" ng-model="testCount"/>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-5 col-offset-2 col-5">
					<button type="submit" class="btn btn-primary">Start</button>
					<button ng-click="stopTesting()" class="btn btn-danger">Stop</button>
				</div>
			</div>
		</form>

		<div>
			<ul ng-if="loadingTimes.length">
				<li style="font-weight: bold;">
					<span>avg:</span>
					<span ng-bind="average()"></span>
					<span>ms</span>
				</li>
			</ul>
			<ol>
		        <li ng-repeat="time in loadingTimes track by $index">
		          <span>{{ time }}ms</span>
		        </li>
		    </ol>
	  </div>
		<iframe onload="iframeLoaded()"
			sandbox="allow-top-navigation allow-same-origin"
			id="iframe1"
			width="100"
			height="100"
			src=""></iframe>
	</body>

	<script type="text/javascript" src="jquery.min.js"></script>
	<script type="text/javascript" src="angular.min.js"></script>
	<script type="text/javascript" src="bootstrap.min.js"></script>
	<script type="text/javascript" src="app.js"></script>

	<script type="text/javascript">
		window.iframeLoaded = function(){
			var scope = angular.element($('#mainCtrl')).scope();
			if (scope) scope.pageLoaded();
		}
	</script>
</html>