<html ng-app>
	<head>
		<title>load time</title>
		<script type="text/javascript" src="jquery.min.js"></script>
		<script type="text/javascript" src="angular.min.js"></script>
	</head>

	<body ng-cloak ng-controller="AppCtrl" id="mainCtrl">
		<script type="text/javascript">
			window.iframeLoaded = function(){
				var scope = angular.element($('#mainCtrl')).scope();
				if (scope) scope.pageLoaded();
			}
		</script>
		<div>
			<input type="button" value="Start Testing" ng-click="startTesting()">
			<input type="button" value="Stop Testing" ng-click="stopTesting()">
		</div>
		<div>
			<ul class="unstyled">
		        <li ng-repeat="time in loadingTimes">
		          <span>{{ time }}</span>
		          <span>ms</span>
		        </li>
		    </ul>
	  </div>
		<iframe onload="iframeLoaded()" style="display: none;" sandbox="allow-top-navigation" id="iframe1" width="100" height="100" src=""></iframe>
	</body>

	<script type="text/javascript" src="app.js"></script>
</html>